* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: url("head.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(6, 6, 6);
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar .a1 {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #ff5500; /* Soundcloud */
  }
  .navbar .a2 {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: whitesmoke; /* Mixcloud */
  }
  .navbar .a3 {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #b833ff; /* Instagram */
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #353535;
    color: white;
  }
  .navbar #b1:hover {
    background-color: #a59b92;
    color: rgb(0, 0, 0);
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: rgb(6, 6, 6);
    color: whitesmoke;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    color: whitesmoke;
    background-color: #111;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #666;
    padding: 20px;
  }
  
  /* Fake image, just for this example */

  
  .meimg {
    background-color: #666666;
    width: 80%;
    padding: 10px;
  }


  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  








  /* Footer */
  .footer {
    padding: 5px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }