* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: url("head.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(6, 6, 6);
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /*? Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar .a1 {/** Soundcloud */
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    background-color: #ff5500; 
  }
  .navbar .a2 {/** Mixcloud */
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    background-color: whitesmoke; 
  }
  .navbar .a3 {/** Instagram */
    float: center;
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    position: sticky;
    background-color: #b833ff; 
  }
  
  
  /*? Right-aligned link */
  .navbar #b1.right {/** Anmelden */
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar #b2.right {/** Sets & Samples */
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #111111;
  }
  
  /*? Change color on hover */
  .navbar a:hover {/** HOME */
    background-color: #ffffff;
    color: black;
  }
  .navbar .a1:hover {/** Soundcloud */
    background-color: #353535;
    color: white;
  }
  .navbar .a2:hover {/** Mixcloud */
    background-color: #353535;
    color: white;
  }
  .navbar .a3:hover {/** Instagram */
    background-color: #353535;
    color: white;
  }
  .navbar #b1:hover {/** Anmelden */
    background-color: #ffffff;
    color: black;
  }
  .navbar #b2:hover {/** Sets und Samples */
    background-color: #353535;
    color: white; 
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: rgb(6, 6, 6);
    color: whitesmoke;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    color: whitesmoke;
    background-color: #111;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #666;
    padding: 20px;
  }
  

  .meimg {
    background-color: #666666;
    width: 100%;
    padding: 10px;
  }

  .cont {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  








  /* Footer */
  .footer {
    padding: 5px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }